@import url(https://fonts.googleapis.com/css?family=Pacifico);
@import url(https://fonts.googleapis.com/css?family=Poiret+One);
@import url(https://fonts.googleapis.com/css?family=Roboto+Mono);
@import 'https://fonts.googleapis.com/css?family=Raleway';

* {
  box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: inherit;
    font-weight: inherit;
    font-family: inherit;;
    text-decoration: inherit;
    line-height: inherit;
    color: inherit;
}

body {
  margin: 50px;
  border: 5px solid #E41A4C;
  padding: 30px 50px 20px 50px;
  background-color: #BBBBBB;
  box-shadow: 5px 5px 20px 10px #3A3A44;
}

header {
  display: flex;
  justify-content: center;
}

#logo {
  height: 100px;
  border-radius: 18%;
  margin: 15px;
  box-shadow: 5px 5px 5px 0px #3A3A44;
}

h1 {
  font-size: 60px;
  font-family: 'Pacifico', cursive;
  text-align: center;
}

h3 {
  font-size: 40px;
  font-family: 'Pacifico', cursive;
  text-align: center;
}

p {
  font-size: 27px;
  font-weight: bold;
  color: #0065AD;
  font-family: 'Raleway', sans-serif;
  text-align: center;
  padding: 3px;
  text-shadow: 1px 1px #333A45;
}

#note {
  color: #E41A4C;
  font-size: 15px;
  font-weight: bolder;
  font-style: italic;
  text-shadow: 0px 0px;
}

/*button styles*/
.bar {
  width: 100%;
  display: flex;
  margin-top: 20px;
}

.bar div {
  flex-grow: 1;
  font-family: 'Poiret One', cursive;
  background-color: #0069B0;
  line-height: 50px;
  text-align: center;
  box-shadow: 5px 5px 5px 0px #3A3A44;
  color: #FFFFFF;
  padding-bottom: 20px;
  border: 3px solid white;
}

.bar #start:hover {
  background-color: #E41A4C;
  cursor:pointer;
}

.bar #pause:hover {
  background-color: #E41A4C;
  cursor:pointer;
}

.bar #again:hover {
  background-color: #E41A4C;
  cursor:pointer;
}

div {
  margin-right: 10px;
}

.symbol {
  font-size: 50px;
  display: flex;
  justify-content: center;
  font-family: 'Pacifico', cursive;
}

/*background of cards and basketball*/
.border-base {
  margin-top: 20px;
  margin-bottom: 30px;
  border-top: 5px solid #E41A4C;
  display: flex;
  position: relative;
}

/*direct background of cards*/
.base {
  perspective: 700;
  margin-top: 50px;
  width: 800px;
  padding-left: 50px;
}

/*players images*/
.base img{
  position: absolute;
  border-radius: 20%;
  margin-left: 10px;;
  margin-right: 10px;
  margin-top: 30px;
}

/*individual cards*/
.card{
  position: relative;
  display:inline-block;
  width:150px;
  height:200px;
  margin:10px;
  transition: -webkit-transform 0.5s linear 0s;
  transition: transform 0.5s linear 0s;
  transform-style: preserve-3d;
}

/*instructions container*/
.instructions-container{
  float: right;
  width: 400px;
  height: 320px;
  margin: 0px auto;
  padding-top: 20px;
  display: inline-block;
}

/*Flip cards*/

.front, .back {
  position:absolute;
  background-color: #0065AD;
  border: 5px solid white;
  border-radius:20%;
  cursor:pointer;
  width:150px;
  height:200px;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

.back {
  -webkit-transform: perspective(400px) rotateY(180deg);
  transform: perspective(400px) rotateY(180deg);
}

.flip {
  -webkit-transform: perspective(400px) rotateY(180deg);
  transform: perspective(400px) rotateY(180deg);
}

/*layer that locks the game*/
.overlay-container {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #0065AD;
  z-index: 2;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.overlay-container.active {
  display: none;
}

#gamestart {
  font-weight: bolder;
color: black;
}

h6 {
  text-align: center;
}
