@import url(https://fonts.googleapis.com/css?family=Pacifico);
@import url(https://fonts.googleapis.com/css?family=Poiret+One);
@import url(https://fonts.googleapis.com/css?family=Roboto+Mono);

* {
  box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: inherit;
    font-weight: inherit;
    font-family: inherit;;
    text-decoration: inherit;
    line-height: inherit;
    color: inherit;
    border: 1px solid blue;
}


body {
  margin: 50px;
  border: 5px solid #E41A4C;
  padding: 30px 50px;
  background-color: #BBBBBB;
  box-shadow: 5px 5px 20px 10px #3A3A44;
}

header {
  display: flex;
  justify-content: center;
}

#logo {
  height: 100px;
  border-radius: 18%;
  margin: 15px;
  box-shadow: 5px 5px 5px 0px #3A3A44;
}

h1 {
  font-size: 60px;
  font-family: 'Pacifico', cursive;
  text-align: center;
}

h2 {
  font-size: 40px;
  font-family: 'Pacifico', cursive;
  text-align: center;
}

.bar {
  width: 100%;
  display: flex;
  margin-top: 20px;
}

.bar div {
  flex-grow: 1;
  font-family: 'Poiret One', cursive;
  background-color: #0069B0;
  line-height: 50px;
  text-align: center;
  box-shadow: 5px 5px 5px 0px #3A3A44;
  color: #FFFFFF;
  padding-bottom: 20px;
  border: 3px solid white;
}

.bar #start:hover {
  background-color: #E41A4C;
  cursor:pointer;
}

.bar #pause:hover {
  background-color: #E41A4C;
  cursor:pointer;
}

.bar #again:hover {
  background-color: #E41A4C;
  cursor:pointer;
}

div {
  margin-right: 10px;
}

.symbol {
  font-size: 50px;
  display: flex;
  justify-content: center;
  font-family: 'Pacifico', cursive;
}

/*background of cards and basketball*/
.border-base {
  margin-top: 20px;
  border-top: 5px solid #E41A4C;
  display: flex;
}

/*direct background of cards*/
.base {
  perspective: 700;
  margin-top: 50px;
  width: 800px;
  padding-left: 50px;
}

/*players images*/
.base img{
  position: absolute;
  border-radius: 20%;
  margin-left: 10px;;
  margin-right: 10px;
  margin-top: 30px;
}

/*individual cards*/
.card{
  position: relative;
  display:inline-block;
  width:150px;
  height:200px;
  margin:10px;
  transition: -webkit-transform 0.5s linear 0s;
  transition: transform 0.5s linear 0s;
  transform-style: preserve-3d;
}

/*basketball picture*/
.basketball img {
  float: right;
  width: 400px;
  height: 320px;
  margin: 0px auto;
  padding-top: 20px;
  display: inline-block;
}

/*Flip cards*/

.front, .back {
  position:absolute;
  background-color: #0065AD;
  border: 5px solid white;
  border-radius:20%;
  cursor:pointer;
  width:150px;
  height:200px;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

.back {
  -webkit-transform: perspective(400px) rotateY(180deg);
  transform: perspective(400px) rotateY(180deg);
}

.flip {
  -webkit-transform: perspective(400px) rotateY(180deg);
  transform: perspective(400px) rotateY(180deg);
}
